a{
    text-decoration: none;
    
}
.text-center{
    font-size: 20px;
}

body{
font-family: Arial, Helvetica, sans-serif;
}
.box{
    background-color: whitesmoke;
  height:auto;

}
.btn-dark{
    margin-bottom: 10px;
    margin-left: 10px;
}