<section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom bg-dark">
  <!-- Left -->
  <div class="me-5 d-none d-lg-block ">
    <span>Get connected with us on social networks:</span>
  </div>
  <!-- Left -->

  <!-- Right -->
  <div>
    <a href="" class="me-4 text-info">
      <i class="fab fa-facebook-f"></i>
    </a>
    <a href="" class="me-4 text-primarry">
      <i class="fab fa-twitter"></i>
    </a>
    <a href="" class="me-4 text-danger">
      <i class="fab fa-google"></i>
    </a>
    <a href="" class="me-4 text-danger">
      <i class="fab fa-instagram"></i>
    </a>
    <a href="" class="me-4 text-info">
      <i class="fab fa-linkedin"></i>
    </a>
    <a href="" class="me-4 text-white">
      <i class="fab fa-github"></i>
    </a>
  </div>
  <!-- Right -->
</section>

<nav class="navbar navbar-expand-lg ">
  <div class="container-fluid">
    <a class="navbar-brand"><img src="../assets/unnamed-removebg-preview.png" alt="" width="100px" height="100px"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="topheadline" style="color:red;">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="">TopHeadline</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="bsnews">BusinessNews </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="sports">SportsNews
          </a>
          <li class="nav-item">
            <a class="nav-link" routerLink="science">ScienceNews
            </a>
            <li class="nav-item">
              <a class="nav-link" routerLink="helth">HelthNews
              </a>
              <li class="nav-item">
                <a class="nav-link" routerLink="ent">Entertainment
                </a>
        </li>
       
          
      
        
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-info" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>
